
  <script>
      $(function() {

          $( "#start_date" ).datepicker({
              onSelect: function(){
                  $(this).change(checkDates("start"));
              }
          });
          $( "#end_date" ).datepicker({
              onSelect: function(){
                  $(this).change(checkDates("end"));
              }
          });
          $("#activity-type").multiselect({
              header: false,
              selectedList: 4
          });

      });



      function checkDates(date){
          if (date == "start") {
              var start_date = $("#start_date").datepicker('getDate');
              var date = new Date(Date.parse(start_date) );
              date.setDate(date.getDate()+1);
              $("#end_date").datepicker('setDate',date);
          }
          if (date == "end"){
              var end_date = $("#end_date").datepicker('getDate');
              var date = new Date(Date.parse(end_date) );
              date.setDate(date.getDate() - 1);

              $("#start_date").datepicker('setDate',date);
          }
      }
  </script>



<div id="content">

  <div class="wrapper">


     <%= image_tag "golden_gate3.jpg"%>

    <%= button_to 'Best of SF', {controller: "places", action: "itinerary"}, {id: "bestof_button"} %>


               <div class="or">  OR </div>
    <div class="home_panel right">
      <h1>Start a Custom Itinerary</h1>

      <%= form_tag({controller: "places", action: "itinerary"}, method: "post") do |f| %>
        <div class="block">
          <%= label_tag(:start_date, "Start Date:") %>
          <%= text_field_tag(:start_date) %>
        </div>
        <div class="block">
          <%= label_tag(:end_date, "End Date:") %>
          <%= text_field_tag(:end_date) %>
        </div>
        <div class="block">
          <%= label_tag(:budget, "Budget:") %>
          <%= select_tag(:budget, options_for_select([["Free", 0], ["Economical ($)", 1], ["Moderate ($$)",2], ["Don't Care", 3]], 3)) %>
        </div>
        <div class="block">
          <%= label_tag(:categories, "Activity Type:") %>
          <select name="categories[]" id = "activity-type" multiple="multiple">
            <option value="city" selected>City</option>
            <option value="nature" >Nature</option>
            <option value="adventure">Adventure</option>
            <option value="sport">Sport</option>
            <option value="nightlife">Nightlife</option>
          </select>
          <% if flash[:error] %>
              <div class="error">
                <%= flash[:error] %>
              </div>
          <% end %>
        </div>
        <div class="block">

          <%= submit_tag("Make Itinerary") %>
        </div>
      <% end %>
    </div>
  </div>
</div>

