
  <script>
      $(function() {
          $( "#start_date" ).datepicker();
          $( "#end_date" ).datepicker();
          $("#activity-type").multiselect({
              header: false,
              selectedList: 4
          });
      });
  </script>



<div id="content">
  <div class="wrapper">
    <%= image_tag "golden_gate2.jpg"%>

    <div class="home_panel right">
      <h1>Start a New Itinerary</h1>

      <%= form_tag({controller: "places", action: "itinerary"}, method: "post") do |f| %>
        <div class="block">
          <%= label_tag(:start_date, "Start Date:") %>
          <%= text_field_tag(:start_date) %>
        </div>
        <div class="block">
          <%= label_tag(:end_date, "End Date:") %>
          <%= text_field_tag(:end_date) %>
        </div>
        <div class="block">
          <%= label_tag(:budget, "Budget:") %>
          <%= select_tag(:budget, options_for_select([["Free", 0], ["Cheap ($)", 1], ["Moderate ($$)",2], ["Don't Care", 3]], 2)) %>
        </div>
        <div class="block">
          <%= label_tag(:categories, "Activity Type:") %>
          <select name="categories[]" id = "activity-type" multiple="multiple">
            <option value="city" selected>City</option>
            <option value="nature" >Nature</option>
            <option value="adventure">Adventure</option>
            <option value="sport">Sport</option>
            <option value="nightlife">Nightlife</option>
          </select>

        </div>
        <div class="block">
          <%= submit_tag("Make Itinerary") %>
        </div>
      <% end %>
    </div>
  </div>
</div>

