
  <script>
      $(function() {
          $( "#start_date" ).datepicker();
          $( "#end_date" ).datepicker();
      });
  </script>



<div id="content">
  <div class="wrapper">
    <%= image_tag "golden_gate2.jpg"%>

    <div class="home_panel right">
      <h1>Start a New Itinerary</h1>

      <%= form_tag({controller: "places", action: "itinerary"}, method: "post") do |f| %>
        <div class="block">
          <%= label_tag(:start_date, "Start Date:") %>
          <%= text_field_tag(:start_date) %>
        </div>
        <div class="block">
          <%= label_tag(:end_date, "End Date:") %>
          <%= text_field_tag(:end_date) %>
        </div>
        <div class="block">
          <%= label_tag(:budget, "Budget:") %>
          <%= select_tag(:budget, options_for_select([["Free", 0], ["Cheap", 1], ["Moderate",2], ["Don't Care", 3]], 2)) %>
        </div>
        <div class="block">
          <%= label_tag(:categories, "Activity Type:") %>

          <%= check_box_tag "categories[]", "City"%> City
          <%= check_box_tag "categories[]", "Nature"%> Nature <br/>
          <%= check_box_tag "categories[]", "Adventure"%> Adventure
          <%= check_box_tag "categories[]", "Sports"%> Sports
          <%= check_box_tag "categories[]", "Nightlife"%>  Nightlife

        </div>
        <div class="block">
          <%= submit_tag("Make Itinerary") %>
        </div>
      <% end %>
    </div>
  </div>
</div>

