<h1>Listing places</h1>

<table>
  <tr>
    <th>No.</th>
    <th>Name</th>
    <th>Cat</th>
    <th>Dur</th>
    <th>Review_Summary</th>
  </tr>

  <% @places.each_with_index do |place, index| %>
    <tr>
      <td><%= index %>. </td>
      <td><%= place.name %></td>
      <td><%= place.category.name %></td>
      <td><%= place.duration %></td>
      <td><%= place.review_summary %></td>
    </tr>
    <tr>
      <td><%= link_to 'Show', place %>
        <%= link_to 'Edit', edit_place_path(place) %>
        <%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>

  <% end %>
</table>

<br />

<%= link_to 'New Place', new_place_path %>
