
  <!-- GET THE GOOGLE MAP API -->
  <script src="http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

  <script type="text/javascript">

      // Initialize google map
      var map;
      var geocoder;
      var markers = {};

      var infoWindow;

      var places = [];
      var popup_content = [ /* all your popup_content */];
      var addresses = {}; // {day: [addresses for the day]}
      var address_position = 0;
      var names = {}; // {day: [names for the day]}
      var markers = {};

      var markerPinLetters = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M"];

      var timeout = 600;

      // Enable the visual refresh
      google.maps.visualRefresh = true;

      $(window).load(
              // Map initializer
              function initialize() {

                  var mapOptions = {
                      center : new google.maps.LatLng(37.6688205, -122.0807964),
                      zoom : 9,
                      draggable : true,
                      draggingCursor : 'pointer',
                      mapTypeControl : false,
                      disableDoubleClickZoom : false,
                      streetViewControl : false,
                      panControl:false,

                      mapTypeId : google.maps.MapTypeId.ROADMAP
                      // take out street view
                  };
                  map = new google.maps.Map(document.getElementById("map_canvas"),
                          mapOptions);

                  // Initialize the geocoder.
                  geocoder = new google.maps.Geocoder();

                  // Add markers on the map for activities in the itinerary
                  <% @recommended_places.keys.sort.each do |day|  %>
                    addresses[<%= day %>] = [];
                    names[<%= day %>] = [];
                    markers[<%= day %>] = [];
                    <% @recommended_places[day].each do |place|%>
                      addresses[<%= day %>].push("<%= place.address.gsub("\n", " ") %>");
                      names[<%= day %>].push("<%= place.name.html_safe %>");
                    <% end %>
                  <% end %>

                  // Add the markers for the first day
                  addMarker(0, 0);
              }
      );

      // Function that looks up the geocodes of addresses and adds markers on the map
      function addMarker(day, markerPosition)
      {
        if(typeof (marker = markers[day][markerPosition]) != 'undefined'){
          marker.setMap(map);
          markerPosition++;
          addMarker(day, markerPosition);
        }
        else{
          geocoder.geocode({'address': addresses[day][markerPosition]}, function(results, status)
          {
            if (status == google.maps.GeocoderStatus.OK) {
              places[markerPosition] = results[0].geometry.location;

              var marker = new google.maps.Marker({
                position: places[markerPosition],
                map: map,
                title: names[day][markerPosition],
                icon: "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=" +
                        markerPinLetters[markerPosition] +
                        "|a8ec08"
              });
              google.maps.event.addListener(marker, 'click', function() {
                if (!infoWindow) {
                  infoWindow = new google.maps.InfoWindow();
                }
                infoWindow.setContent(popup_content[markerPosition]);
                infoWindow.open(map, marker);
              });
              markers[day].push(marker);
            }
            else
            {
              if (status == google.maps.GeocoderStatus.OVER_QUERY_LIMIT)
              {
                setTimeout(function() { addMarker(day, markerPosition); }, (timeout * 3));
//                console.log("OVER_QUERY_LIMIT");
              }
              else{
//                console.log(status);
              }
            }

            markerPosition++;

            if (markerPosition <  addresses[day].length)
            {
              setTimeout(function() { addMarker(day, markerPosition); }, (timeout));
            }
          });
        }
      }

      // Functions to update the markers on the map when the day slide changes
      function clearMapMarkers(){
        // Find the visible day
        var visibleDay = $('.itinerary-active-slide').data('day');

        // clear the markers for the visible day
        var allMarkers = markers[visibleDay]

        for (i = 0; i < allMarkers.length; i++){
          allMarkers[i].setMap(null);
        }
      }

      function newMapMarkers(){
        // Find the visible day
        var visibleDay = $('.itinerary-active-slide').data('day');

        // add the markers for the visible day
        addMarker(visibleDay, 0);
      }

      // Pimp the DOM
      var availableTags = [
          "City",
          "Nature",
          "Adventure",
          "Sport",
          "Nightlife"
      ];
      var selectedMode="DRIVING";
      var directionsService = new google.maps.DirectionsService();

      $(function() {
          // Datepicker
          $( "#start_date" ).datepicker({
              onSelect: function(){
                  $(this).change(checkDates("start"));
              }
          });
          $( "#end_date" ).datepicker({
              onSelect: function(){
                  $(this).change(checkDates("end"));
              }
          });

          // tags
          $('.expand-one').click(function(){
              $('.content-one').slideToggle('slow');
          });
          $('#tags').tagsInput({
              autocomplete_url: availableTags

          });
          $('.activity').click(function(evt){
              $('#tags').addTag($(evt.target).text());});

          //slider
          $('.itineraryslider').itineraryslider({
              slideshow: false,
              before: clearMapMarkers,
              after: newMapMarkers
          });

          //changing options
          $('.close_activity').click(function(){
              $(this).closest('.act').toggle();
              $('.options').toggle();
          });

          $('#close_options').click(function(){
              $('.options').toggle();
              $('#commute1').toggle();
          });

          //commute directions
          $('.transport_mode').click(function(){
              selectedMode = $(this).attr("id");
               var elm = $(this).siblings('span#transportTime') ;
              $(this).attr("class", "transport_modeClicked");
              if(selectedMode == "DRIVING"){
                  $(this).siblings('#BICYCLING').attr("class", "transport_mode");
                  $(this).siblings('#WALKING').attr("class", "transport_mode");
              }
              if(selectedMode == "WALKING"){
                  $(this).siblings('#BICYCLING').attr("class", "transport_mode");
                  $(this).siblings('#DRIVING').attr("class", "transport_mode");
              }
              if(selectedMode == "BICYCLING"){
                  $(this).siblings('#DRIVING').attr("class", "transport_mode");
                  $(this).siblings('#WALKING').attr("class", "transport_mode");
              }

              var ids = ($(this).closest("div").attr("id")).split("_");

              var origin = ids[0];
              var destination = ids[1];
              var modeDuration;

              var request = {
                  origin: origin,
                  destination: destination,
                  travelMode: google.maps.TravelMode[selectedMode]
              };
              directionsService.route(request, function(response, status) {
                  console.log(status);
                  if (status == google.maps.DirectionsStatus.OK) {

                      modeDuration = response.routes[0].legs[0].duration.text;

                  } else
                      modeDuration = "Not available";
                  console.log(elm[0]['innerHTML']);
                  elm[0]['innerHTML'] = modeDuration;
              });

          });


      });




      //set form values
      $(document).ready(function()
      {

           <% if @user_input[:commit] == "Make Itinerary" || @user_input[:commit] == "Go!"%>
              $('#start_date').val("<%=@user_input[:start_date]%>");
              $('#end_date').val("<%=@user_input[:end_date]%>");
              $('#budget').val("<%=@user_input[:budget]%>");
//to remove "food"          <% @user_input[:categories].pop%>
          <% @user_input[:categories].each do |category| %>
              $('#tags').addTag("<%=category%>");
          console.log($('#tags').val());
          <% end %>
          <% end %>

      });

      function checkDates(date){
          console.log("blah");
          if (date == "start") {
              var start_date = $("#start_date").datepicker('getDate');
              var date = new Date(Date.parse(start_date) );
              date.setDate(date.getDate()+1);
              $("#end_date").datepicker('setDate',date);
          }
          if (date == "end"){
              var end_date = $("#end_date").datepicker('getDate');
              var date = new Date(Date.parse(end_date) );
              date.setDate(date.getDate() - 1);

              $("#start_date").datepicker('setDate',date);
          }
      }


  </script>


<div id="content">
<div class="wrapper2">
  <%= form_tag({controller: "places", action: "itinerary"}, method: "post") do |f| %>
    <div class="basic-input">
      <%= label_tag(:start_date, "Start Date:") %>&nbsp&nbsp
      <%= text_field_tag(:start_date) %>	&nbsp&nbsp&nbsp&nbsp
      <%= label_tag(:end_date, "End Date:") %>&nbsp&nbsp
      <%= text_field_tag(:end_date) %>&nbsp&nbsp&nbsp&nbsp
      <%= label_tag(:budget, "Budget:") %>&nbsp&nbsp
      <%= select_tag(:budget, options_for_select([["Free", 0], ["Economical ($)", 1], ["Moderate ($$)",2], ["Don't Care", 3]], 3)) %>
    </div>
    <div class="activity-tags">
		        	<span class="expand-one">
		        		<label for="tags" class="tags_input">Preferred Activities:&nbsp&nbsp</label>
		        		<input name="tags" id="tags" />

		        	</span>
      <span class="go"><%= submit_tag("Go!")%> <% if flash[:error] %>
              <span class="error">
                <%= flash[:error] %>
              </span>
          <% end %></span>
      <p class="content-one">
        <span class = "activity">city</span> |
        <span class = "activity">nature</span> |
        <span class = "activity">adventure</span> |
        <span class = "activity">sports</span> |
        <span class = "activity">nightlife</span>
      </p>
    </div>
    <!--<input class="auto-update" type="submit" value="Make Itinerary">  -->
  <%end%>

</div>
<!-- On the left the schedule; on the right the map, location description, and save itinerary button -->
<div class="itinerary">
  <div id="schedule" class="itinerary_panel left">
    <div class="itineraryslider">
      <ul class="slides" id="slides">
        <% @recommended_places.keys.sort.each do |day|  %>
        <li class="day" data-day="<%= day %>">
          <div class="title">DAY <%= day+1 %></div>
          <% @recommended_places[day].each_with_index do |place, index|%>
          <div class="act">
            <% @photos = Photo.where("place_id = ?", place.id)%>
            <% if @photos.empty? %>
                  <%= image_tag"no_photo_icon.jpg" %>
            <% else %>
                    <% url =  @photos[0].uploaded.url  %>
                    <%= image_tag(url) %>
            <% end %>
            <%= link_to place do %>
            <div class = "act-detail">
              <div class="act-name"><%= place.name%>

                <% rating = place.rating.to_i %>
                <% if rating != nil %>
                    <% rating.times do %>
                        <%= image_tag"star.jpg", :class => "rating_star"%>
                    <% end %>
                <% end %>


              </div>
              <div class="act-time"><%= place.duration.to_i%> hour</div>
              <div class="act-cost">
                <% place.price_level.times do%>
                    $
                <% end %>
              </div>

            </div>
                <% end %>
            <div class="act-more"> remove  <span class="close_activity">x</span></div>
          </div>
          <!--More Options-->
          <div class="options">
            Other available activities at this time:
            <div class="act-more"> close all <span id="close_options">x</span></div> <br/>


            <div class="option">
              <div class="act-more"> select <span id="select_option"> &radic; &nbsp</span></div>
              <%= image_tag"twinpeaks.jpg"%> <div class="name">Hike to Twin Peaks Summit</div></div>
            <div class="option">
              <div class="act-more">  select <span id="select_option">&radic; &nbsp</span></div>
              <%= image_tag"marinheadlands.jpg"%>
              <div class="name">Hike to Marin Headlands</div>
            </div>

          </div>
          <!--Commute details-->
              <%if index < @recommended_places[day].size-1 %>
          <!--id hack for now--> 	<div id="commute1" class="commute_detail">
          <div id="<%=place.address%>_<%=@recommended_places[day][index+1].address%>">
            <%= image_tag "arrowicon1.png", :class => "left_arrow"%>
            Transport Mode
            <%= image_tag"car.png", :id => "DRIVING", :class => "transport_mode"%>
            <%= image_tag"bike.png", :id => "BICYCLING", :class => "transport_mode"%>
            <%= image_tag"walk.png", :id => "WALKING", :class => "transport_mode"%>
            <span id="transportTime"></span>
            <%= image_tag "arrowicon2.png",:class => "right_arrow" %>
          </div>

        </div>
            <% end %>
        <% end %>
        </li>
        <% end  %>
      </ul>
    </div>
  </div>

  <div id="extra_info" class="itinerary_panel right">
    <div id="map_canvas"></div>

    <button type="button" name="print_itinerary" onclick="printItinerary()">Print the Schedule</button>

  </div>
</div>

</div>


  <script>
      //Temporary code for Printing itinerary
      function printItinerary(){
          var printString = "";
          var printWindow = window.open('');
          var styleString = '<%= stylesheet_link_tag "style.css", :media => "all"%>';


      <% @recommended_places.keys.sort.each do |day|  %>
          printString += "<div class='itinerary_panel left'><div class='title'>DAY <%= day+1 %></div>"  ;
      <% @recommended_places[day].each do |place|%>
          printString+= "<div class='act'>" ;
      <% @photos = Photo.where('place_id = ?', place.id)%>
      <% if @photos.empty? %>
          printString+='<%= image_tag'no_photo_icon.jpg' %>';
      <% else %>
      <% url =  @photos[0].uploaded.url  %>
          printString+='<%= image_tag(url) %>';
      <% end %>
          printString+="<div class = 'act-detail'><div class='act-name'><%= place.name%>";
      <% rating = place.rating.to_i %>
      <% if rating != nil %>
      <% rating.times do %>
          printString+='<%= image_tag'star.jpg', :class => 'rating_star'%>';
      <% end %>
      <% end %>
          printString+= "</div><div class='act-time'><%= place.duration.to_i%> hour</div><div class='act-cost'>";
      <% place.price_level.times do%>
          printString+="$";
      <% end %>
          printString+="</div></div></div><div class='commute_detail'>";
          printString+='<%= image_tag "arrowicon1.png", :class => "left_arrow" %>  Transport Mode <%= image_tag"car.png"%> <%= image_tag"bike.png"%> <%= image_tag"walk.png"%>';
          printString+='<%= image_tag "arrowicon2.png", :class => "right_arrow"%>' ;
          printString+="</div>"
          <% end %>;
          printString+="</div>";

      <% end %>
          printWindow.document.write('<html><head><title>Print Preview: Itinerary</title>');
          printWindow.document.write(styleString);
          printWindow.document.write('</head><body><%=render :partial => "./layouts/header"%><div style="margin-left:80px">');
          printWindow.document.write('<h1>Bon Voyage Vagabonds!</h1> <button type="button" name="print_itinerary" onclick="javascript:window.print(); window.close();">Print</button><br/><br/>');
          printWindow.document.write(printString);
          printWindow.document.write('</div><%= render :partial => "./layouts/footer" %></body></html>');

      }

  </script>

