
  <!-- GET THE GOOGLE MAP API -->
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

  <script type="text/javascript">

      // Initialize google map
      var map;
      $(window).load(
              // Map initializer
              function initialize() {
                  debugger
                  var mapOptions = {
                      center : new google.maps.LatLng(37.772886,-122.419496),
                      zoom : 8,
                      draggable : true,
                      draggingCursor : 'pointer',
                      mapTypeControl : true,
                      disableDoubleClickZoom : true,
                      streetViewControl : false,

                      mapTypeId : google.maps.MapTypeId.ROADMAP
                      // take out street view
                  };
                  map = new google.maps.Map(document.getElementById("map_canvas"),
                          mapOptions);
              }

      );

      // Pimp the DOM
      var availableTags = [
          "Hiking",
          "Biking",
          "Beach",
          "Water Sport",
          "Amusement Park",
          "Concert",
          "Museums",
          "Theatre",
          "Historic Site"
      ];

      $(function() {
          // Datepicker
          $( "#start_date" ).datepicker();
          $( "#end_date" ).datepicker();

          // tags
          $('.expand-one').click(function(){
              $('.content-one').slideToggle('slow');
          });
          $('#tags').tagsInput({
              autocomplete_url: availableTags

          });
          $('.activity').click(function(evt){
              $('#tags').addTag($(evt.target).text());});

          //slider
          $('.itineraryslider').itineraryslider({
              slideshow: false
          });

          //changing options
          $('.close_activity').click(function(){
              $(this).closest('.act').toggle();
              $('.options').toggle();
          });

          $('#close_options').click(function(){
              $('.options').toggle();
              $('#commute1').toggle();
          });

      });
      //set form values
      $(document).ready(function()
      {

          $('#start_date').val("<%=@user_input[:start_date]%>");
          $('#end_date').val("<%=@user_input[:end_date]%>");
          $('#budget').val("<%=@user_input[:budget]%>");

      });
  </script>


<div id="content">
<div class="wrapper2">
  <form>
    <div class="basic-input">
      <%= label_tag(:start_date, "Start Date:") %>&nbsp&nbsp
      <%= text_field_tag(:start_date) %>	&nbsp&nbsp&nbsp&nbsp
      <%= label_tag(:end_date, "End Date:") %>&nbsp&nbsp
      <%= text_field_tag(:end_date) %>&nbsp&nbsp&nbsp&nbsp
      <%= label_tag(:budget, "Budget:") %>&nbsp&nbsp
      <%= select_tag(:budget, options_for_select([["Free", 0], ["Cheap ($)", 1], ["Moderate ($$)",2], ["Don't Care", 3]], 2)) %>
    </div>
    <div class="activity-tags">
		        	<span class="expand-one">
		        		<label for="tags" class="tags_input">Preferred Activities:&nbsp&nbsp</label>
		        		<input name="tags" id="tags" value="Hiking, Concert, Historic Site"/>
		        	</span>
      <p class="content-one">
        <span class = "activity">Hiking</span> |
        <span class = "activity">Biking</span> |
        <span class = "activity">Beach</span> |
        <span class = "activity">Water Sport</span> |
        <span class = "activity">Amusement Park</span>
        <span class = "activity">Museum</span> |
        <span class = "activity">Concert</span> |
        <span class = "activity">Theatre</span> |
        <span class = "activity">Historic Site</span>
      </p>
    </div>
    <input class="auto-update" type="submit" value="Make Itinerary">
  </form>

</div>
<!-- On the left the schedule; on the right the map, location description, and save itinerary button -->
<div class="itinerary">
  <div id="schedule" class="itinerary_panel left">
    <div class="itineraryslider">
      <ul class="slides">
        <% @recommended_places.keys.sort.each do |day|  %>
        <li class="day">
          <div class="title">DAY <%= day+1 %></div>
          <% @recommended_places[day].each do |place|%>
          <div class="act">
            <% @photos = Photo.where("place_id = ?", place.id)%>
            <% if @photos.empty? %>
                  <%= image_tag"no_photo_icon.jpg" %>
            <% else %>
                    <% url =  @photos[0].url  %>
                    <%= image_tag(url) %>
            <% end %>
            <%= link_to place do %>
            <div class = "act-detail">
              <div class="act-name"><%= place.name%>

                <% rating = place.rating.to_i %>
                <% if rating != nil %>
                    <% rating.times do %>
                        <%= image_tag"star.jpg", :class => "rating_star"%>
                    <% end %>
                <% end %>


              </div>
              <div class="act-time"><%= place.duration.to_i%> hour</div>
              <div class="act-cost">
                <% place.price_level.times do%>
                    $
                <% end %>
              </div>

            </div>
                <% end %>
            <div class="act-more"> remove  <span class="close_activity">x</span></div>
          </div>
          <!--More Options-->
          <div class="options">
            Other available activities at this time:
            <div class="act-more"> close all <span id="close_options">x</span></div> <br/>


            <div class="option">
              <div class="act-more"> select <span id="select_option"> &radic; &nbsp</span></div>
              <%= image_tag"twinpeaks.jpg"%> <div class="name">Hike to Twin Peaks Summit</div></div>
            <div class="option">
              <div class="act-more">  select <span id="select_option">&radic; &nbsp</span></div>
              <%= image_tag"marinheadlands.jpg"%>
              <div class="name">Hike to Marin Headlands</div>
            </div>

          </div>
          <!--Commute details-->
          <!--id hack for now--> 	<div id="commute1" class="commute_detail">
          <div id="left_arrow"> <%= image_tag "arrowicon1.png"%></div> <%= image_tag "mapicon.jpg"%> 30 minutes <%= image_tag"caricon.png"%> <div id="right_arrow"> <%= image_tag "arrowicon2.png"%></div>

        </div>
        <% end %>
        </li>
        <% end  %>
      </ul>
    </div>
  </div>

  <div id="extra_info" class="itinerary_panel right">
    <div id="map_canvas"></div>

    <p>
      You remember that bridge that magneto flew to that island? You're going to the San Francisco Bay Area where you can walk on the bridge AND the island!<br><br>
      <em>The total cost of your schedule is</em> <b>$ 200.00</b>
    </p>

    <form>
      <input type="submit" value="Save the Schedule">
    </form>
  </div>
</div>

</div>
