

  <script>
      $(window).load(function() {
          $('.flexslider').flexslider({
              animation: "slide"
          });
      });
  </script>



<div class="detail_content">

  <h2><%= @place.name%></h2>

  <div class="left">
    <p>Rating: <% rating = @place.rating.to_i %>
      <% if rating != nil %>
          <% rating.times do %>
             <%= image_tag"star.jpg", :class => "rating_star"%>
          <% end %>
      <% end %>
    </p>
    <p><%= @place.review_summary %></p>

    <p>Price Level: <%= @place.price_level %></p>
    <p>Address: <%=@place.address%></p>
    <p>Phone: <%= @place.phone_number%> </p>
    <p>Website: <%= @place.website %> </p>


    <div class= "user_reviews">
      <h3> User Reviews </h3>
      <% @reviews = Review.where("place_id = ?", @place.id)%>
      <% @reviews.each do |review| %>
      <div class="review">
        <div class="user">
            <%= image_tag "user.jpg"%><br/>
            <%= review.author%>
        </div>
        <div class="review_text">
            <% rating = review.rating.to_i %>
            <% if rating != nil %>
                <% rating.times do %>
                    <%= image_tag"star.jpg", :class => "rating_star"%>
                <% end %>
            <% end %>
          <br/>
        <%= review.text%>
        </div>
      </div>
      <% end %>
      <a href=<%= @place.url%>>More reviews ...</a>
    </div>
  </div>
  <div class="right">

    <div class="flexslider">
      <ul class="slides">
        <% @photos = Photo.where("place_id = ?", @place.id)%>
        <% if @photos.empty? %>
          <li>
            <%= image_tag"no_photo_icon.jpg" %>
          </li>
        <% else %>
            <% @photos.each do |photo| %>
                <% url =  photo.uploaded.url  %>
                <li>
                  <%= image_tag(url) %>
                </li>
            <% end %>

        <% end %>
      </ul>
    </div>

  </div>
</div>
